/* 
//////////////////////////////////////////////////////////////////////////////
Default Styles
*/

/* Imported font*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap%27');

html {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    /* Changed again - Noah */
    font-family: 'Share Tech', sans-serif;
}

.home-text {
    color: #ffffff;
    text-align: center;
}

.home-profile {
    display: flex;
    height: 500px;
    border: white 5px solid;
    margin: 20px;
    justify-content: space-between;
}

.home-item {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    flex-grow: 1;
}

.profile-noah {
    background: url(../img/noahprofile.jpg);
    background-size: cover;
}

.profile-malik {
    background: url(../img/malikprofile.jpg);
    background-size: cover;
}

.profile-juan {
    background: url(../img/juanprofile.jpg);
    background-size: cover;
}

body {
    background-color: #000000;
    /* changed background */
    background-size: cover;
    width: auto;
    overflow-x: hidden;
    font-family: "Share Tech", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    background-color: #000000;
    /* changed background */
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    border-bottom: 2px solid white;
}

.nav-content img {
    height: 60px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    position: relative;
    background-color: #000000 !important;
    /* changed background */
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
    font-size: 60px;
    /* Increased font size b/c of new font */
    font-weight: 700;
    color: white;
}

.profile img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    /*margin-left: auto;
    margin-right: 400px;*/
    /* changed right margin */
    display: block;
    padding: 20px;
}

.profile .profile-picture {
    position: relative;
    top: 0;
    margin-bottom: 30px;
    height: 200px;
}

/*
//////////////////////////////////////////////////////////////////////////////
Header/Nav Styling
*/

.nav-logo {
    transform: translateX(-70%);
}

.members {
    display: flex;
    justify-content: left;
    align-items: center;
}

.members a {
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    padding: 0px 25px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.members a:hover {
    background-color: rgba(102, 102, 102, 0.9);
}

.section {
    height: 100vh;
    scroll-snap-align: center;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* NOTE: scroll-snap-type causes a bug that allows scrolling up outside of the page. Will be needed later so left for now and will be resolved later.*/
    scroll-snap-type: y mandatory;
}

.nav-content {
    position: relative;
    display: flex;
}

.burger-button {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 56px;
    cursor: pointer;
    border: 2px solid white;
    border-bottom: none;
    border-right: none;
    transition: all 0.5s ease;
}

.nav-bar {
    z-index: 100;
}

.burger {
    z-index: 10;
    position: relative;
    width: 35px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.burger::after,
.burger::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.burger::before {
    transform: translateY(-12px);
}

.burger::after {
    transform: translateY(12px);
}

.menu.open .burger::before {
    background-color: black;
    transform: rotateZ(45deg);
}

.menu.open .burger {
    background: transparent;
}

.menu.open .burger::after {
    background-color: black;
    transform: rotateZ(-45deg);
}

.slide-menu {
    position: absolute;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 10px;
    z-index: 4;
    top: 0;
    right: -220px;
    color: black;
    background-color: #fff;
    transition: right 0.5s ease;
}

.slide-menu ul {
    list-style: none;
}

.slide-menu a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.menu.open .slide-menu {
    right: 0;
}





/* 
//////////////////////////////////////////////////////////////////////////////
Intro Section Styling
*/

h2 span {
    color: white;
}

.profile {
    padding-top: 200px;
}

.profile-picture img {
    display: inline-block;
    margin: 0;
    transform: scale(1.5, 1.5) translateX(-45px);
}

.profile-picture {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Increased from 30 to 150*/
}

.intro h1 {
    text-align: left;
    overflow: hidden;
    margin-bottom: 0.25rem;
}

.intro {
    text-align: left;
}

.intro span {
    transform: translateY(0);
    opacity: 0;
    display: inline-block;
    animation: popUp 250ms ease forwards;
    animation-delay: calc(var(--order) * 250ms);
    transition: color 0.5s ease 0s;
}

.intro span:hover {
    color: cyan;
}

.more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    z-index: 2;
    background-color: rgba(100, 100, 100, 0.9);
}

.socials img {
    max-width: 50px;
    max-height: 100%;
}

.socials a {
    display: inline-block;
    max-width: 50px;
    padding: 25px 10px;
    text-indent: 2000px;
    transition: background-color 0.4s linear 0s;
}

.socials a.linkedin {
    background: url("../img/linkedin.png") no-repeat center;
    background-size: 75%;
}

a.github {
    background: url("../img/github.png") no-repeat center;
    background-size: 75%;
}

.socials a:hover {
    background-color: rgba(173, 173, 173, 0.9);
}

@keyframes popUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 682px) {
    .intro span {
        font-size: 2rem;
    }

    .intro {
        line-height: 2rem;
    }
}

/* 
//////////////////////////////////////////////////////////////////////////////
About/Edu Section Styling
*/

.container {
    display: flex;
    /* hortizontally stacks children */
    justify-content: center;
    /* centers boxes */
    flex-wrap: wrap;
    /* moves elements under each other if they don't fit */

}

.about,
.edu {
    color: white;
    background: none;
    border: 2px solid white;
    width: 400px;
    margin: 125px;
    border-radius: 10px;
}

.about h2 {
    font-size: 50px;
    text-align: center;
}

.about p {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px
}

.edu h2 {
    font-size: 50px;
    text-align: center;
}

.edu img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    margin-left: 30px;
    margin-bottom: 0;
}

.arrange-horizontally>* {
    display: inline-block;
    text-align: center;
}

.university-name {
    font-size: 20px;
    margin-left: 30px;
    font-weight: bold;
}

.degree,
.year {
    font-size: 16px;
    margin-left: 30px;
}

.year {
    font-size: 14px;
    margin-left: 30px;
    font-weight: lighter
}

.activites {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.about:hover,
.edu:hover {
    /*background-color: black;*/
    color: cyan;
    /*color: white;*/
    transform: scale(1.03);
    transition: all 1s ease;
}

/* Map Styling */
#map {
    position: relative;
    top: 0;
    height: 80vh;
    width: 80%;
    margin: auto;
    z-index: 1;
}

.map-container {
    position: relative;
}

.map-label {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 80%;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.section {
    height: calc(100vh - 60px);
    margin-top: 60px;
}