/* New CSS file to hold stylings and animations for skills section*/

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    color: white;
    background: none;
    border: 2px solid white;
    height: 60%;
    width: 70%;
    margin: auto;
    border-radius: 10px;
}

.skills h2 {
    font-size: 50px;
    text-align: center;
}
