{% extends 'profilebase.html' %}

{% block first %}
<div class="project-image weather-image"></div>
<h3>
    Weather App
</h3>
<p>
    Application showing global weather data from different major cities. Designed the interface with SwiftUI.
</p>
<a href="https://github.com/noahromo/Weather" class="project-link">
    See Code
</a>
{% endblock %}

{% block second %}
<div class="project-image simonsays-image"></div>
<h3>
    Simon Says
</h3>
<p>
    Developed a fun web-based game that resembles the classic Simon Says game using HTML, CSS, and JavaScript.
</p>
<a href="https://github.com/noahromo/LightAndSoundMemoryGame" class="project-link">
    See Code
</a>
{% endblock %}