{% extends 'profilebase.html' %}

{% block intro %}
<div class="intro" id="malik">
    <h1><span style="--order: 1">Hi,</span></h1>
    <h1><span style="--order: 2">I'm</span>
        {% for word in name.split(' ') %}
        {% if loop.last %}
        <span style="--order: {{2 + loop.index}}">{{ word }},</span>
        {% endif %}
        {% if not loop.last %}
        <span style="--order: {{2 + loop.index}}">{{ word }}</span>
        {% endif%}
        {% endfor %}
    </h1>
    <h1><span style="--order: 5">MLH</span> <span style="--order: 6">Fellow</span></h1>
    <br>
    <div class="socials">
        <a href="{{ linkedin }}" target="_blank" class="linkedin">Linkedin</a>
        <a href="{{ github }}" target="_blank" class="github">Github</a>
    </div>
</div>
{% endblock %}

<!-- New block for hobbies section -->
{% block hobbies %}
<img src="../static/img/malik_hobbies.svg" style="display: block; margin:auto">

{% endblock %}

<!-- Add new block for skills with SVG -->
{% block skills %}

<img src="../static/img/malik_skills.svg" style="display: block; margin:auto">


{% endblock %}


{% block first %}
<img src="../static/img/project-images/bowling.jpg" alt="weather app image" class="project-image">
<h3>
    Sched-U-Bowl
</h3>
<p>
    Built a bowling alley reservation system designed to take the stress out of planning a bowling session, using the
    Calendly API and MongoDB.
</p>
<a href="https://github.com/malbaker/bowling-demo" target="_blank" class="project-link">
    See Code
</a>
{% endblock %}

{% block second %}
<img src="../static/img/project-images/dotfiles.jpg" alt="weather app image" class="project-image">
<h3>
    Dotfiles
</h3>
<p>
    Dotfiles contains shell scripts for frequently used terminal operations, and custom configurations for applications
    within Linux.
</p>
<a href="https://github.com/malbaker/dotfiles" target="_blank" class="project-link">
    See Code
</a>
{% endblock %}

{% block experiences %}
<p class="tag">
    Production Engineering Fellow
</p>
<p class="org">
    MLH Fellowship Powered by Meta
</p>
<ul>
    <li>Developed the skills required to keep products running smoothly and scaling efficiently through mentorship with Production
        Engineers at Meta</li>
    <li>Studied the tools and concepts to build/manage a production Linux infrastructure that can be applied to any software-related
        project, and can be scaled and optimized efficiently.</li>
    <li>Built this portfolio as part of the MLH Fellowship Hackathon</li>
</ul>
<p class="tag">
    IT Support Specialist
</p>
<p class="org">
    Boston University
</p>
<ul>
    <li>Provide technical service and solutions as part of a network of 400+ employees, servicing over 10,000+ faculty on the Boston
        University Charles River Campus and Medical Campus.</li>
    <li>Evaluate ServiceNow tickets, communicating with clients and coworkers to ensure efficient operations within the BU
        Information Services and Technology network.</li>
</ul>
{% endblock %}