<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="../static/styles/main.css">
    <link rel='icon' href='../static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <div class="nav-logo">
                <a href="/">
                    <img src="../static/img/logo.svg" />
                </a>
            </div>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <div class="intro">
                <h1><span style="--order: 1">Hi,</span></h1>
                <h1><span style="--order: 2">I'm</span>
                    {% for word in name.split(' ') %}
                    {% if loop.last %}
                    <span style="--order: {{2 + loop.index}}">{{ word }},</span>
                    {% endif %}
                    {% if not loop.last %}
                    <span style="--order: {{2 + loop.index}}">{{ word }}</span>
                    {% endif%}
                    {% endfor %}
                </h1>
                <h1><span style="--order: 5">MLH</span> <span style="--order: 6">Fellow</span></h1>
                <br>
                <div class="more">
                    <div class="button">
                        <p>Learn more!</p>
                    </div>
                    <div class="socials">
                        <a href="{{ linkedin }}" target="_blank" class="linkedin">Linkedin</a>
                        <a href="{{ github }}" target="_blank" class="github">Github</a>
                    </div>
                </div>
            </div>
            <img src="../static/img/{{ member }}profile.jpg">
        </div>
    </div>

        <section class="about-edu-container">   <!-- START OF ABOUT/EDU -->
            <div class="about">  <!-- ABOUT MYSELF -->
                <h2>About</h2>
                <p>  <!-- Input data -->
                    {{ about }}
                </p>
            </div>
            <div class="edu">  <!-- EDUCATION -->
                <h2>Education</h2>
                <div class="arrange-horizontally"> 
                    <div class="edu-image">  
                        <img src="../static/img/{{ seal }}-seal.jpg">  <!-- Input data -->
                    </div>
                    <div>
                        <p class="university-name">
                            {{ university }}  <!-- Input data -->
                        </p>
                        <p class="degree">
                            {{ degree }}  <!-- Input data -->
                        </p>
                        <p class="year">
                            {{ years }}  <!-- Input data -->
                        </p>
                    </div>
                </div>
                <p class="activites">
                    {{ activities }}  <!-- Input data -->
                </p>
            </div>
        </section>

        <!-- THIS IS THE NEW TWO SECTIONS -->

        <section class="experiences-container">
            <div class="experiences">
                <h2>Experiences</h2>
                <p>
                    MLH Fellow
                </p> 
                <p>
                    Tech Lead
                </p> 
            </div>
        </section>

        <section class="projects-container">
            <div class="projects">
                <h2>Projects</h2>
                <section class="project-list">
                    <div class="first">
                        <p>
                            Weather App
                        </p>
                    </div>
                    <div class="second">
                        <p>
                            Simon Says App
                        </p>
                    </div>
                </section>
            </div>
        </section>

</body>

</html>