<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/"> 
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/noahprofile.jpg">
        </div>
        <h1>{{ title }}</h1>
    </div>

    <section class="container">   <!-- START OF NEW FEATURES -->
        <div class="about">  <!-- ABOUT MYSELF -->
            <h2>About</h2>
            <p>  <!-- Input data -->
                Rising junior at Florida State University in pursuit of a 
                Bachelor of Arts in Computer Science as well as a minor in innovation. 
                App development is like trying to learn chess. So many different ideas/moves 
                to pick from. I started as a beginner. After playing a few games each day, 
                I've developed into a pretty decent player. Soon enough I'll be a master. 
                I'm interested in tech entrepreneurship, fintech, mobile dev, machine learning
                applications, and decentralized applications. "The people who are crazy enough 
                to think that they can change the world are the ones who do." - Steve Jobs
            </p>
        </div>

        <div class="edu">  <!-- EDUCATION -->
            <h2>Education</h2>
            <div class="arrange-horizontally"> 
                <div class="edu-image">  
                    <img src="./static/img/fsu-seal.jpeg">  <!-- Input data -->
                </div>
                <div>
                    <p class="university-name">
                        Florida State University  <!-- Input data -->
                    </p>
                    <p class="degree">
                        BA, Computer Science  <!-- Input data -->
                    </p>
                    <p class="year">
                        2020-2024  <!-- Input data -->
                    </p>
                </div>
            </div>
            <p class="activites">
                Activities: Google Developer Student Club, Beta Theta Pi, FSU Boxing  <!-- Input data -->
            </p>
        </div>
    </section>
</body>
</html>