<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/skills.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <script defer src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
    <link rel='icon' href='../static/img/favicon.ico' type='image/x-icon' />
    <title>{{ name }}</title>
</head>

<body>
    <nav>
        <div class="members">
            <a href="/">Home</a>  <!-- changed to home button instead of logo -->
            <a href="/member/juan">Juan</a>
            <a href="/member/noah">Noah</a>
            <a href="/member/malik">Malik</a>
        </div>
        <div class="menu">
            <div class="burger-button">
                <div class="burger">

                </div>
            </div>
            <div class="slide-menu">
                <ul>
                    <li><a href="#profile">Introduction</a></li>
                    <li><a href="#education">About & Education</a></li>
                    <li><a href="#projects">Experience</a></li>
                    <li><a href="#projects">Projects</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="snap-scroll-container">
        <section class="profile" id="profile">
            {% block intro %}{% endblock %}
            <img src="../static/img/{{ member }}profile.jpg">
            {% block waves%}

            {% endblock %}
        </section>

        <section class="about-edu-container" id="about-edu">
            <!-- START OF ABOUT/EDU -->
            <div class="about">
                <!-- ABOUT MYSELF -->
                <h2>About Me</h2>
                <p>
                    <!-- Input data -->
                    {{ about }}
                </p>
            </div>
            <div class="edu">
                <!-- EDUCATION -->
                <h2>Education</h2>
                <div class="arrange-horizontally">
                    <div class="edu-image">
                        <img src="../static/img/{{ seal }}-seal.jpg"> <!-- Input data -->
                    </div>
                    <div class="university-info">
                        <p class="university-name">
                            {{ university }}
                            <!-- Input data -->
                        </p>
                        <p class="degree">
                            {{ degree }}
                            <!-- Input data -->
                        </p>
                        <p class="year">
                            {{ years }}
                            <!-- Input data -->
                        </p>
                    </div>
                </div>
                <p class="activites">
                    {{ activities }}
                    <!-- Input data -->
                </p>
            </div>
        </section>

        <section class="experiences-container" id="experiences">
            <div class="experiences">
                <h2>Where I've Worked</h2>
                <p>
                    MLH Fellow
                </p>
                <p>
                    Tech Lead
                </p>
            </div>
        </section>

        <!-- Adding new section container for skills; copeied experiences for testing -->
        <section class="skills-container" id="skills">
            <div class="skills">
                <h2>My Personal Tech Stack</h2>
                {% block skills %} <!-- pass SVG of skills through respective pages -->

                {% endblock %}
            </div>
        </section>

        <section class="projects-container" id="projects">
            <div>  <!-- Added div to fix projects for scroll feature - noah -->
                <h2>{{ firstname }} Workshop</h2>
                <div class="projects">
                    <div class="first">
                        {% block first %}
                        {% endblock %}
                    </div>
                    <div class="second">
                        {% block second %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>

        <section class="map" id="places-map">
            <h1 class="map-label">Where I've Been</h1>
            <div id="map"></div>
        </section>
    </div>

</body>

<script defer src="../static/member.js"></script>

</html>